RewriteEngine On
# remove leading www.
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ %{REQUEST_SCHEME}://%1%{REQUEST_URI} [R=301,L]
# block access to git folder
RedirectMatch 404 /\.git

<IfModule mod_headers.c>
        Header set X-XSS-Protection "1; mode=block"
        Header set X-Frame-Options DENY
        Header set X-Content-Type-Options nosniff
</IfModule>
