#sp-content {
	position: absolute;
	overflow: hidden;
	top: 56px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.sp-page {
	overflow: auto;
	height: 100%;
	width: 100%;
}

.sp-page-content {
	max-width: 600px;
}

#sp-map {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.browser_error
{
	background-color: #FFFAC2;
	margin-top: 16px;	
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

/* font styles for the headings */
h1
{
	padding-top: 20px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#heading2_silverpeaks
{
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: gray;
}

/* Orientation style for photos */
/* scale before rotate ! */

.exif_orientation_1
{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.exif_orientation_2
{
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
}

.exif_orientation_3
{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.exif_orientation_4
{
    transform: scaleY(-1);
	transform: rotate(180deg);
    -webkit-transform: scaleY(-1);
	-webkit-transform: rotate(180deg);
}

.exif_orientation_5
{
    transform: scaleX(-1);
	transform: rotate(90deg);
    -webkit-transform: scaleX(-1);
	-webkit-transform: rotate(90deg);
}

.exif_orientation_6
{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.exif_orientation_7
{
    transform: scaleX(-1);
	transform: rotate(270deg);
    -webkit-transform: scaleX(-1);
	-webkit-transform: rotate(270deg);
}

.exif_orientation_8
{
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
